h1{
	text-align: center;
	font-color: darkgray;
}

body{
	background-color: #2e273d;
	height: 600em;
}


.jumbotron {
	overflow: hidden;
	background-position: right;
	background-color:#D8D8D8;
	border-bottom: 20px;
	border-color: #342156;
}
.box-right{
	float: left;
	background-color: #fff;
}	

.blog-button{
	float: right;
}

.panel{
	padding: 10px 5%;
	margin: 5px 5%;
}
.thumbnail{
	background-size: 10%;
}
#main-head{
	background:#fff url('../images/index-head.jpg') no-repeat 
	background-size: 60%;
}

#blog-head{
	background:#fff url('../images/blog-head.png') no-repeat  center;
	background-size: 90%
  	
}
body #blog-body{
	background: #fff url('../images/blog-body-bck.jpg') no-repeat  center;
}

#display-counter{
	display: inline;
	border: 2px solid black;
	border-radius: 15px; 
	background: #fff;
	/*box-shadow: 15px 15px 15px 1 #546378;*/
}
