h1{
	text-align: center;
	font-color: darkgray;
}

body{
	background-color: #2e273d;
	height: 600em;
}


.jumbotron {
	overflow: hidden;
	background-position: right;
	background-color:#D8D8D8;
	border-bottom: 20px;
	border-color: #342156;
}
.box-right{
	float: left;
	background-color: #fff;
}	

.list-group{
	
}

.blog-button{
	float: right;
}

.panel{
	padding: 10px 5%;
	margin: 5px 5%;
}

#main-head{
	background-image: url('../images/index-head.jpg');
	background-repeat: no-repeat;
	background-size: 100%;

}

body #main-body{
	background: linear-gradient(to top, black, white);
	height: 600em;
}

#main-footer{
	display: inline;
}

#blog-head{
	background: #fff url('../images/blog-head.png') no-repeat 100% center;

  	
}



#display-counter{
	display: inline;
	border: 2px solid black;
	border-radius: 15px; 
	background: #fff;
	/*box-shadow: 15px 15px 15px 1 #546378;*/
}

#image-footer{

}
 
#footer{

}